/dev/ttyAMA0              0660   bluetooth  bluetooth
/dev/ttyACM0              0660   system     radio
/dev/ion                  0664   system     system
/dev/block/platform/soc/3f202000.mmc/by-name/frp 0660 system system

